@import "./theme.scss";

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.siteflow{
    width: 100%;
    padding: 0rem 1rem;
    background-color: gainsboro;
    .dashboard_and_accounts{
        margin-top: 58px;
        width: 100%;
        .dashboard{
            display: none;
        }
        .accounts{
            margin-top: 5rem;
            background-color: white;
            hr{
                margin: 0px;
                margin-top: 1rem;
            }
            .accounts_header{
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2{
                    font-size: 22px;
                }
                .change_password{
                    font-family: TheBoldFont;
                    letter-spacing: 1px;
                    height: 2.5rem;
                    border: none;
                    background-color: #3d82ff;
                    color: white;
                    border-radius: 5px;
                    font-size: 16px;
                    padding: 0rem 0.5rem;
                }
            }
            .form_container{
                padding: 1rem;
                   color: black;
                label{
                    display: block;
                    font-family: TheBoldFont;
                    margin-top: 0.5rem;
                    letter-spacing: 1px;
                }
                input{
                    width: 100%;
                    height: 2.5rem;
                    font-family: TheLightFont;
                    padding: 0rem 1rem;
                    margin-top: 4px;
                }
                .wrong_match{
                    border: solid 2px red;
                }
                .not_allowed{
                    cursor: not-allowed;
                }
            }
        }
    }
}



// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view




@media screen and (min-width:768px){
    .siteflow{
        padding: 2rem;
        .dashboard_and_accounts{
            .accounts{
                hr{
                    margin-bottom: 0.5rem;
                }
                .accounts_header{
                    padding: 2rem 2rem 1.5rem 2rem;
                    h2{
                        font-size: 30px;
                    }
                    .save_changes{
                        font-size: 16px;
                        padding: 0.5rem 1rem;
                    }
                }
                .form_container{
                    .form_segment{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        column-gap: 2rem;
                    }
                }
            }
        }
    }
}



// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view


@media screen and (min-width:1024px){

    .siteflow{
        padding: 3rem 6rem;
        background-color: white;
        @media screen and (min-width:1366px){
            min-width: 1348px
        }
        .dashboard_and_accounts{
            width: 100%;
            display: grid;
            grid-template-columns: 25% 75%;
            
            .dashboard{
             display: block;
             .dashboard_header{
                 padding: 2rem;
                 padding-left: 0px;
                h2{
                    text-align: left;
                }
             }
             .dashboard_options{
                 padding: 2rem;
                 padding-left: 0px;
                 padding-top: 0rem;
                 display: grid;
                 grid-template-columns: auto;
                 i{
                     width: 20px;
                     height: 20px;
                     color: dodgerblue;
                 }
                 .dashboard_option{
                     align-self: center;
                     display:flex;
                     align-items: center;
                     height: 2.5rem;
                     font-family: TheLightFont;
                     font-size: 18px;
                     color: black;
                     i{
                        margin-left: 1rem;
                     }
                     span{
                         margin:auto 1rem;
                     }
                 }
                 .selected_option{
                     color: dodgerblue;
                     font-size: 20px;
                     font-family: TheBoldFont;
                 }
                 .dashboard_option:hover {
                     border-left: solid 4px dodgerblue;
                     font-size: 20px;
                     background-color: gainsboro;
                 }
             }

            }
            .accounts{
                margin-top: 0rem;
                .accounts_header{
                    h2{
                        font-size: 32px;
                    }
                    .save_changes{
                        font-size: 18px;
                    }
                }
                .form_container{
                    margin-bottom: 4rem;
                    .form_segment{
                        label{
                            font-size: 18px;
                        }
                        input{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}