@import "./theme.scss";

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(156,191,218);
}


.siteflow{
    width: 100%;
    padding: 0rem 1rem;
    .details_box{
        background-color: white;
        border: solid 1px transparent;
        width:100%;
        margin-top: 10rem;
        box-shadow: 1rem 1rem 1rem rgba(0,0,0,.175);
        h3{
            margin-top: 1rem;
            color: rgb(96,123,178);
        }
        hr{
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        .details_box_inner{
            padding:0rem 1rem;
            width: 100%;
            label{
                font-family: TheBoldFont;
                color: dodgerblue;
                margin-top: 1rem;
                display: block;
                font-size: 15px;
                letter-spacing: 1px;
                color: rgb(96,123,178)
            }
            textarea{
                margin-top: 5px;
                width: 100%;
                height: 7rem;
                padding: 1rem;
                font-family: TheLightFont;
                font-size: 15px;
            }
            input{
                margin-top: 5px;
                padding-left: 1rem;
                font-family: TheLightFont;
                font-weight: bold;
                display: block;
                height: 2.5rem;
                width: 100%;
                margin-top: 0.5rem;
                border: solid 1px gainsboro;
                color: rgb(139, 133, 133);
            }
            #profile_picture{
                height: auto;
            }
            .submit{
                margin-top: 0.5rem;
                @include whitetext();
                display: block;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                height: 3rem;
                border: none;
                background-color: rgb(42,45,62);
                span{
                    letter-spacing: 3px;
                }
                i{
                    float: right;
                }
            }
        }
        .already_registered{
            display: block;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 1rem;
            color: rgb(97, 92, 89);
            font-family: TheLightFont;
            font-size: 13px;
            font-weight: bolder;
            b{
                @include bluetext();
                font-weight: bolder;
            }
        }

        
    }
    .footer_end{
        display: block;
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
        font-size: 12px;
        font-weight: 900;
        font-family: TheBoldFont;
    }
}



@media screen and (min-width:768px)
{
    .siteflow{
        padding:0px 11rem;
        .footer_end{
           margin-top: 15rem;
        }
    }
}



@media screen and (min-width:1024px){
    .siteflow{
        padding: 0px 20rem;
        .footer_end{
            left:24.5rem;
            font-size: 14px;
        }
    }
}


@media screen and (min-width:1300px){
    .siteflow{
        padding: 0px 28rem;
        .footer_end{
            margin-top: 10rem;
        }
    }
}