@import "./theme.scss";

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: start;
}
h3{
    font-size: 26px;
    font-family: TheBoldFont;
    @include bluetext();
    color: #0173b2;
}

h4{
    font-size: 16px;
    color: rgb(1,115,178);
    font-family: TheBoldFont;
    font-weight: bold;
    letter-spacing: 1px;
    @media screen and (min-width:768px){
        font-size: 18px;
    }
    @media screen and (min-width:1024px){
        font-size: 20px;
    }
}
p{
    font-size: 12px;
    color: black;
    text-align: left;
}
.collapse_expand{
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(229,241,247);
    i{
        color: dodgerblue;
        font-size: 12px;
    }
}
.heading_container{
    margin-top: 58px;
    width: 100%;    
    height: 15.5rem;
    background: url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        @include whitetext();
    }
    span{
        margin-top: 1rem;
        @include whitetext();
        font-family: TheLightFont;
        font-weight: lighter;
    }
}
.siteflow{
    padding: 1rem;
    .profile{
        border: solid 1px gainsboro;
        padding: 0.5rem;
        img{
            width: 100%;
        }
        .call_now{
            margin-top: 0.5rem;
            width: 100%;
            height: 2rem;
            background-color: rgb(42,45,62);
            @include whitetext();
            border: none;
            box-shadow: none;
            font-family: TheLightFont;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 14px;
        }
        .details_grid{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: 20px auto;
            column-gap: 10px;
            row-gap: 5px;
            align-items: center;
            i{
                color: rgb(1,115,178);
            }
            p{
                text-align: left;
                margin-top: 0rem;
            }
        }
        h3::before{
            content: "____";
            color: dodgerblue;
            position: relative;
            bottom: 10px;
            right: 5px;
            font-size: 20px;
        }
        h3{
            margin-top: 2rem;
            text-align: left;
        }
        p{
            margin-top: 1.5rem;
        }
        .option{
            margin-top: 1rem;
            width: 100%;
            display: grid;
            grid-template-columns: 16px auto 24px;
            column-gap: 10px;
            align-items: center;
            .icon{
                object-fit: cover;
                width: 16px;
            }
            i{
                color: rgb(1,115,178);
            }
        }
        .option_info{
            margin-top: 1rem;
            padding: 0.5rem;
            width: 100%;
            background-color: rgb(229,241,247);
            p{
                margin-top: 0rem;
                text-align: left;
            }
        }
    }
}
.need_help{
    padding: 35px 15px 35px 15px;
    background-color:rgb(122,176,212);
    width: 100%;
   .need_help_flex{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    h3{
        @include whitetext();
    }
    p{
        text-align: center;
        margin-top: 15px;
        font-size: 16px;
    }   
    button{
        padding: 0rem 1rem;
        font-family: TheLightFont;
        font-weight: 800;
        font-size: 15px;
        letter-spacing: 1px;
        display: block;
        background-color: rgb(1,115,178);
        @include whitetext();
        border: solid 1px transparent;
        box-shadow: none;
        border-radius: 8px;
        height:3rem;
        margin-top:1.5rem;
    }
   }
}






// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view
// Tab view , Tab view , Tab view , Tab view



@media screen and (min-width:768px){
    .heading_container{
        background-position-x: center;
        background-position-y: bottom;
    }
    .siteflow{
        padding: 2rem;
        .profile{
            padding: 1rem;
            display: grid;
            grid-template-columns: auto 30%;
            column-gap: 1rem;
            grid-template-areas: 
            "options image_and_button";
            .image_and_button{
                grid-area: image_and_button;
            }
            .options{
                grid-area: options;
                h3{
                    margin-top: 1rem;
                }
                .option{
                    margin-top: 1.5rem;
                }
                .details_grid{
                    grid-template-columns: 20px 15rem 20px auto;
                  p{
                      font-size: 12px;
                      letter-spacing: 1px;
                  }
                }
            }
            
            h3::before{
                content: "__";
                margin-left: -10px;
            }
            p{
                text-align: left;
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}






// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view
// Laptop view , Laptop view , Laptop view , Laptop view



@media screen and (min-width:1024px){
    .heading_container{
        padding-left: 6rem;
        margin-top: 80px;
        align-items: flex-start;
        h2{
            font-size: 40px;
        }
        span{
            font-size: 18px;
        }
    }
    .siteflow{
        padding: 4rem 6rem ;
        .profile{
            padding: 2rem;
            .options{
                h3{
                    margin-left: -18px;
                    font-size: 28px;
                }
            }
        }
    }
    .need_help{
        background-color: rgb(156,191,218);
        width: 100%;
        height: 190px;
        .need_help_flex{
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
           .need_help_left_div{
               margin-left: 4rem;
            h3{
                font-size: 40px;
                text-align: left;
            }
           }
            button{
                margin-right: 4rem;
                width: 290px;
                height: 65px;
                display: block;
                font-size: 20px;
            }
        }
    }
}