@import "./theme.scss";

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(156,191,218);
}
.siteflow{
    width: 100%;
    padding: 0rem 1rem;
    .submit_query_box{
        background-color: white;
        border: solid 1px transparent;
        width:100%;
        margin-top: 5rem;
        box-shadow: 1rem 1rem 1rem rgba(0,0,0,.175);
        h3{
            margin-top: 1rem;
            color: rgb(96,123,178);
        }
        hr{
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        .submit_query_box_inner{
            padding:0px 1rem 3rem 1rem;
            width: 100%;
            
            input{
                padding-left: 1rem;
                font-family: TheLightFont;
                font-weight: bold;
                display: block;
                height: 2.5rem;
                width: 100%;
                margin-top: 0.5rem;
                border: solid 1px gainsboro;
                color: rgb(139, 133, 133);
            }
            #name{
                margin-top: 1rem;
            }
            textarea{
                padding-top: 0.5rem;
                padding-left: 1rem;
                margin-top: 0.5rem;
                font-family: TheLightFont;
                font-weight: bold;
                display: block;
                border: solid 1px gainsboro;
                color: rgb(139, 133, 133);
                width: 100%;
                height: 215px;
            }
            .submit{
                margin-top: 1rem;
                @include whitetext();
                display: block;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                height: 3rem;
                border: none;
                background-color: rgb(42,45,62);
                span{
                    letter-spacing: 3px;
                }
                i{
                    float: right;
                }
            }
        }
    }
    .footer_end{
        display: block;
        text-align: center;
        margin-top: 10rem;
        margin-bottom: 2rem;
        font-size: 12px;
        font-weight: 900;
        font-family: TheBoldFont;
    }
}

@media screen and (min-width:768px)
{
    .siteflow{
        padding:0px 11rem;
        .footer_end{
           margin-top: 15rem;
        }
    }
}


@media screen and (min-width:1024px){
    .siteflow{
        padding: 0px 10rem;
        .submit_query_box{
            margin-top: 8rem;
        }
        .footer_end{
            left:24.5rem;
            font-size: 14px;
        }
    }
}


@media screen and (min-width:1300px){
    .siteflow{
        padding: 0px 15rem;
        .footer_end{
            margin-top: 10rem;
        }
    }
}